* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-width: 300px;
}

.trafficTop {
    width: 20px;
    height: 50px;
    background: black;
    margin: 0 auto;
}

.semaforo {
    width: 100px;
    height: auto;
    background: black;
    padding: 20px 0;
    gap: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
}

.red,
.yellow,
.green,
.purple {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer;
}

.red {
    background: red;
}

.yellow {
    background: yellow;
}

.green {
    background: rgb(0, 255, 0);
}

.purple {
    background: purple;
}

.red.light,
.yellow.light,
.green.light,
.purple.light {
    opacity: 1;
}

.red.light {
    box-shadow: 0 0 15px 20px rgba(255, 0, 0, 0.7);
}

.yellow.light {
    box-shadow: 0 0 15px 20px rgba(255, 255, 0, 0.7);
}

.green.light {
    box-shadow: 0 0 15px 20px rgba(0, 255, 0, 0.7);
}

.purple.light {
    box-shadow: 0 0 15px 20px rgba(128, 0, 128, 0.7);
}